:root {
  --primary-color: #6545B2;
  --secondary-color: #808080;
  --tertiary-color: #4f4f4f;
}
html{
  scroll-behavior: smooth;
}
body {
font-family: Teko, sans-serif;
background-color: var(--secondary-color);

}

/* Header + Footer */

.navbar, .page-footer {
    background-color: var(--primary-color);
}

.brand-logo {
  font-size: 30px !important
}

.wishlist {
  font-size: 25px !important;
}



.page-footer {
  padding-top: 0px !important;
}

/* Search bar */

.search {
  background-color: var(--primary-color);
  font-size: 20px !important;
}

#search-input {
  width: 80%;
  padding: 10px;
  border: #4f4f4f 3px solid;
}

.button {
  border-radius: 5px;
  padding: 8px;
  background-color: var(--secondary-color);
}

.button:hover {
  cursor: pointer;
}

.button:active {
  padding: 7px;
}

#search-button {
  display: inline-block;
  position: relative;
  bottom: 4.25px;
}

/* Select drop downs */

.select-label {
  font-size: 20px !important;
}

/* Contact section */

.section-contact {
  background-color: var(--tertiary-color);
}

.row-contact {
  margin-bottom: 0px;
}

.link-list > li {
  display: inline-block;
  padding-right: 10px;
}

.link {
  font-size: 20px;
}

/* Card Styles */

.card {
  margin: 30px auto;
  width: 45%;
  background-color: var(--primary-color);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.card-content {
  margin: auto 0;
}

span {
  align-items: center;
}

.card-title {
  font-size: 30px !important;
  margin: 0px;
}

.card-img {
  object-fit: contain;
  height: 400px; 
}

.store-name {
  font-size: 20px !important;
}

.normal-price {
  color: rgb(167, 167, 167);
}

.add-button {
  position: relative;
  bottom: 5px !important;
}

/* Search Results Page */

.topGetsContainer, .searchResultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-result {
  text-align: left;
}

#page-buttons {
  display: flex;
  justify-content: space-around;
}

#next, #previous {
  display: none;
  color: white;
  background-color: var(--primary-color);
  width: 50%;
  margin: 10px;
  font-size: 1.5rem;
}

@media (max-width:425px)  {
  .select-label {
    font-size: 15px !important;
  }
}

@media (max-width:768px) {
  .card {
    width: 100%;
  }
}

@media (max-width:403px) {
  #search-button {
    position: relative;
    bottom: 0;
  }
}
